<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Star Wars Wiki</ion-title>
    </ion-toolbar>
  </ion-header>
	<ion-item>
		<ion-label>Select</ion-label>
		<ionic-selectable item-content [(ngModel)]="search" itemValueField="id" itemTextField="name" [items]="searches" [canSearch]="true" (onChange)="userChanged($event)" (onClose)="onClose()">
		</ionic-selectable>
	</ion-item>
  <div class="current-search">

    <!--People -->
    <ion-card>
      <ion-card-header>
        <ion-item *ngIf="this.researchResults.height">
          <ion-icon (click)="pinItem()" slot="end" name="pin-outline"></ion-icon>
          <ion-card-subtitle *ngIf="this.eventData">{{this.eventData.index}}</ion-card-subtitle>
        </ion-item>
        <ion-card-title>{{this.researchResults.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label *ngIf="this.researchResults.species"><h3>species: </h3>{{this.searchSpecies}}</ion-label><br>
        <ion-label *ngIf="this.researchResults.homeworld"><h3>Homeworld: </h3>{{this.searchHome}}</ion-label><br>
        <ion-label *ngIf="this.researchResults.height"><h3>Height: </h3>{{this.researchResults.height}}cm</ion-label><br>
        <ion-label *ngIf="this.researchResults.mass"><h3>Mass: </h3>{{this.researchResults.mass}}kg</ion-label><br>
        <ion-label *ngIf="this.researchResults.birth_year"><h3>Birth Year: </h3>{{this.researchResults.birth_year}} (Before Battle of Yavin)</ion-label><br>
        <ion-label *ngIf="this.researchResults.films"><h3>Films: </h3></ion-label><br>
        <ion-label>
          <ol>
            <li *ngFor="let film of films">{{film.title}}</li>
          </ol>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-title *ngIf="this.pinned.length <= 0">Pinned Items</ion-title>
    <p class="pinned-information" *ngIf="this.pinned.length <= 0"> Nothing pinned yet</p>

    <!-- pinned -->
    <ion-list class="pinned-list" *ngIf="this.pinned.length > 0">
      <ion-title>Pinned Items</ion-title>
      <ion-item class="pinned-item" *ngFor="let pin of pinned">
        <ion-card color="light" class="pinned-card">
          <ion-card-header>
            <ion-item>
              <ion-icon (click)="removePin(pin.id,pin)" slot="end" name="close-outline"></ion-icon>
              <ion-card-subtitle>{{this.pin.index}}</ion-card-subtitle>
            </ion-item>
            <ion-card-title>{{this.pin.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label><h3>species: </h3>{{pin.species}}</ion-label>
            <ion-label><h3>Homeworld: </h3>{{pin.homeworld}}</ion-label>
            <ion-label><h3>Height: </h3>{{pin.height}}cm</ion-label>
            <ion-label><h3>Mass: </h3>{{pin.mass}}kg</ion-label>
            <ion-label><h3>Birth Year: </h3>{{pin.birth}} (Before Battle of Yavin)</ion-label>
            <ion-label><h3>Films: </h3></ion-label><br>
            <ion-label>
              <ol>
                <li *ngFor="let film of films">{{film.title}}</li>
              </ol>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
