.search-bar{
  width: 100%;
  --ion-item-background:transparent !important;
}

ion-slides{
  margin-top: 20px;
  height: 350px;
  width: 300px;
  background-color: white;
  border-radius: 12px;
}

.recentSeached-text{
  margin-left: 20px;
}

h3{
  display:inline;
}
